# Data files
*.csv
*.xlsx
!Data/IPL_without_selected_columns.csv
!Data/IPL.csv

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Local environment
.env
.venv
env/
venv/
venv_ipl/

# IDE/System
.vscode/
.idea/
.DS_Store
*.txt
